@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
body {
    font-family: 'Orbitron', sans-serif; 
    background-color: black;
}
#h1 {
    padding-top: 1px;
    text-align: center;
}
#welcome {
    width: 448px; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}
.title {
    color: orange;
    font: weight 600px;
    font-size:large;
}
#playername {
    border-color:beige;
    background-color: beige;
    border-radius: 10%;
    color: rgb(219, 151, 62);
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif; 
    text-align: center;
    width: 100px;
}
.text {
    color:beige; 
}
.container {
    width: 900px; 
    margin-left: auto; 
    margin-right: auto;
}
#point-counter {
    margin: 35px;
    color: rgb(253 210 50);
    font-weight: bolder;
    font-size: large;
}
.item {
    float: left; 
    text-align: center;
}
canvas {
    padding-top: 15%;
}
.hidden {
    display: none;
}
#result-msg {
    color:  rgb(253 210 50);
    font-size: 20px;
    font-weight: bolder;
}
#score-table {
    margin: 0 auto;
    color: beige;
}
#result-view{
    padding-top: 5em;
    padding-left: 4em;
}
#try-again {
    text-decoration: none; 
    color:red;
    padding-top: 15%;
    margin-right: 10%;
    font-weight: bolder;
}
#back {
    text-decoration: none; 
    color:rgb(253 210 50);
    margin-right: 10%;
    font-weight: bolder;
}
.red {
    color: red;
}
.yellow {
    color: yellow;
}
#try-again:hover {
    color: pink;
    transition: all ease 0.3s;
}
#back:hover {
    color: pink;
    transition: all ease 0.3s;
}
label:hover {
    color: pink;
    transition: all ease 0.3s;
}


